<div class="imagen">
    <img src="assets/football.jpg" alt="" height="400" width="100%">
    </div>

    <h2 class="subtitulo">Partners</h2>

    <p>Siempre he pensado en el gran acierto de DHL como uno de los main sponsort del Manchester United. Siendo éste uno de los 3 equipos más populares a nivel mundial, con una repercusión mediática que llega a cualquier parte del mundo. Como la empresa DHL. Así también lo comenta el vicepresidente de FedEx Raj Subramaniam en The Telegraph: “Una de las claves que nos ofrece la Europa League como competición son grandes partidos en ciudades europeas con un papel secundario, que es exactamente donde queremos estar presente como marca. Por lo que un sponsoship de dicha competición es vehicular para llegar a dicho target”.

        <br><br>Football Hoy Ya se dispone de partners que se mojan la camiseta por nuestro trabajo y puesta en escena entregandonos ayuda la cual va en benecifio del hincha fiel que siempre se dispone a apoyar a su equipo en la cancha o atraves del televisor.</p>

     <div class="polera">
         <img src="assets/polera.jpg" alt="">
     </div>

    <div style="text-align: center;">
        <br><hr><br>
        <a routerLink="/inicio">Home</a>&nbsp;
        <a routerLink="/portafolio">Torneo Nacional 2020!</a>&nbsp;
        <a routerLink="/servicios">Servicios</a>&nbsp;
        <a routerLink="/partners">Partners</a>&nbsp;
        <a routerLink="/contacto">Contacto</a>&nbsp;
        <a routerLink="/gato">Mini Juego</a>&nbsp;
    
        <br><br>
        <p class="footer">@Copyright Andres Gomez</p>
    </div>
    
    <router-outlet></router-outlet>