<div class="imagen">
    <img src="assets/football.jpg" alt="" height="400" width="100%">
    </div>

    <h2 class="subtitulo">Servicios</h2>

    <p class="p1">Football Hoy entrega a los fanaticos del football una gran cobertura del campeonato nacional, ligas sudamericanas y 
        los mejores campeonatos del footbal europeo y mundial. Football Hoy esta disponible solo en formato web pero pronto se 
        vienen mas sorpresas como nuestra app para Android e IOs, para los fanaticos mas freneticos del football que necesitan
        informacion en cualquier lado del mundo las 24 horas del dia!! 
    </p><br><br>

    <h3 class="p1">Las Mejores ligas Mundiales como:</h3><br>

<div class="p2">
    <ul >
        <li>Premier League</li>
        <li>La Liga Española</li>
        <li>La Bundesliga</li>
        <li>Ligue 1 francesa</li>
        <li>Primera División portuguesa</li>
        <li>Superliga Argentina</li>
        <li>Brasileirao</li>
        <li>Primera División de Colombia</li>
        <li>Primera División de Chile</li>
        
    </ul>
</div> 

<div class="imagen2">
    <img src="assets/equipos.jpg" alt="">
</div>



    <div style="text-align: center;">
        <br><hr><br>
        <a routerLink="/inicio">Home</a>&nbsp;
        <a routerLink="/portafolio">Torneo Nacional 2020!</a>&nbsp;
        <a routerLink="/servicios">Servicios</a>&nbsp;
        <a routerLink="/partners">Partners</a>&nbsp;
        <a routerLink="/contacto">Contacto</a>&nbsp;
        <a routerLink="/gato">Mini Juego</a>&nbsp;
    
        <br><br>
        <p class="footer">@Copyright Andres Gomez</p>
    </div>
    
    <router-outlet></router-outlet>
