<div class="imagen">
<img src="assets/football.jpg" alt="" height="400" width="100%">
</div>

<div>
     <h2 class="subtitulo">Si el Football es tu pasion, Bienvenido!!</h2>

     <p class="p1">Aca encontraras informacion detallada de todos los partidos del football chileno,
         entrevistas con los jugadores mas influyentes del campeonato, las mejores jugadas,
         los duelos mas importantes del football chileno y Mundial estan en Football Hoy!.
         Inscribete en nuestra pagina y tendras todo el contenido que subimos diariamente
         directo a tu celular y primero que todos. Que esperas?.. Inscribete!
     </p>
     
</div>

<div class="imagen2">
    <img src="assets/nacional.jpg" alt="">
</div>





<div style="text-align: center;">
    <br><hr><br>
    <a routerLink="/inicio">Home</a>&nbsp;
    <a routerLink="/portafolio">Torneo Nacional 2020!</a>&nbsp;
    <a routerLink="/servicios">Servicios</a>&nbsp;
    <a routerLink="/partners">Partners</a>&nbsp;
    <a routerLink="/contacto">Contacto</a>&nbsp;
    <a routerLink="/gato">Mini Juego</a>&nbsp;

    <br><br>
    <p class="footer">@Copyright Andres Gomez</p>
</div>

<router-outlet></router-outlet>
